/* Color Theme Swatches in Hex */
/* .Web-Hosting,-providing-storage-space-and-access-for-websites.-1-hex { color: #011640; }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-2-hex { color: #1F5AA6; }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-3-hex { color: #63B0F2; }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-4-hex { color: #17BF52; }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-5-hex { color: #1DF23D; } */

/* Color Theme Swatches in RGBA */
/* .Web-Hosting,-providing-storage-space-and-access-for-websites.-1-rgba { color: rgba(1, 22, 63, 1); }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-2-rgba { color: rgba(31, 89, 165, 1); }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-3-rgba { color: rgba(99, 175, 242, 1); }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-4-rgba { color: rgba(22, 191, 81, 1); }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-5-rgba { color: rgba(29, 242, 61, 1); } */

/* Color Theme Swatches in HSLA */
/* .Web-Hosting,-providing-storage-space-and-access-for-websites.-1-hsla { color: hsla(219, 96, 12, 1); }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-2-hsla { color: hsla(213, 68, 38, 1); }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-3-hsla { color: hsla(208, 84, 66, 1); }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-4-hsla { color: hsla(140, 78, 42, 1); }
.Web-Hosting,-providing-storage-space-and-access-for-websites.-5-hsla { color: hsla(129, 89, 53, 1); } */

/*     dblu: {
    100: '#E6E8EC',
    200: '#C0C5CF',
    300: '#99A2B3',
    400: '#4D5C79',
    500: '#011640',
    600: '#01143A',
    700: '#010D26',
    800: '#000A1D',
    900: '#000713',
    },
        blu: {
    100: '#E9EFF6',
    200: '#C7D6E9',
    300: '#A5BDDB',
    400: '#628CC1',
    500: '#1F5AA6',
    600: '#1C5195',
    700: '#133664',
    800: '#0E294B',
    900: '#091B32',
    },
        lblu: {
    100: '#EFF7FE',
    200: '#D8EBFC',
    300: '#C1DFFA',
    400: '#92C8F6',
    500: '#63B0F2',
    600: '#599EDA',
    700: '#3B6A91',
    800: '#2D4F6D',
    900: '#1E3549',
    },
        dgreen: {
    100: '#E8F9EE',
    200: '#C5EFD4',
    300: '#A2E5BA',
    400: '#5DD286',
    500: '#17BF52',
    600: '#15AC4A',
    700: '#0E7331',
    800: '#0A5625',
    900: '#073919',
    },
        lgreen: {
    100: '#E8FEEC',
    200: '#C7FCCF',
    300: '#A5FAB1',
    400: '#61F677',
    500: '#1DF23D',
    600: '#1ADA37',
    700: '#119125',
    800: '#0D6D1B',
    900: '#094912',
    },

    silver: {
        100: '#F6F6F5',
        200: '#E9E8E6',
        300: '#DBDAD6',
        400: '#C0BEB8',
        500: '#A5A299',
        600: '#95928A',
        700: '#63615C',
        800: '#4A4945',
        900: '#32312E',
      },
      gold: {
        100: '#FBF6E8',
        200: '#F5E8C6',
        300: '#EFDBA3',
        400: '#E2BF5E',
        500: '#D6A419',
        600: '#C19417',
        700: '#80620F',
        800: '#604A0B',
        900: '#403108',
      },

 */
